[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
requests = "*"
pymysql = "*"
sqlalchemy = "2.0.13"
alembic = "1.10.4"
python-dotenv = "*"
unicorn ="*"
python-multipart = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
